/* Hide the "When" label in the popup display of an event */
.neb-when-label {
    display: none !important;
}

/* Space out the text on events a bit more */
.cpchip {
    line-height: 1.4 !important;
}

/* Prevent a location from cutting off the title of an event */
.ctdiv {
    max-height: 100% !important;
}

/* Make the events look more like Sunrise Calendar */
.cbrd {
    border-left-width: 2px !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    padding-top: 4px !important;
    box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.6) !important;
}

/* Hide Google's mask since we added a box-shadow to the events */
.mask {
    display: none !important;
}

/* Make Today's background blue instead of grey */
.tg-today {
    background-color: #F2F8FE !important;
}

/* Hide the time on each event */
.chip-caption {
    display: none !important;
}

/* Adjustments to the sidebar to make it look more like Sunrise */
.tg-times-pri {
    position: absolute !important;
    top: -6px !important;
    font-weight: bold !important;
    border: none !important;
    padding-left: 20px !important;
}

/* If the times are updated to the pretty format, change the padding to match */
.times-pretty {
    padding-left: 15px !important;
}

/* Remove the borders from the sidebar */
.tg-time-pri {
    border: none !important;
}

/* Styles for the menu button */
.nav-enhancer-menu {
    background: url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/src/android-menu.svg) no-repeat;
    background-size: contain;
    margin-left: 14px;
}

#enhancer-menu {
    margin-right: 8px;
}

/* Styles for the search button */
.nav-search-menu {
    background: url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/src/android-search.svg) no-repeat;
    background-size: contain;
    margin-left: 14px;
}

/* Styles for the last added menu button */
.enhancer-menu-last {
    padding-right: 20px;
    padding-left: 7px;
}

/* Change the location of the top left navigtion */
#topLeftNavigation {
    left: 25px !important;
}

/* Change the location of notifications to appear correctly when the search bar is hidden */
.mbox {
    padding-top: 20px;
}